<!-- components/footer.html -->
<footer style="position: relative; bottom: 0; width: 100%; text-align: center;">
    <nav>
        <a href="https://github.com/Yameen05">GitHub</a> | 
        <a href="https://Yameen05.github.io">GitHub.io</a> | 
        <a href="https://www.charlotte.edu">CLT Web</a> | 
        <a href="https://www.linkedin.com/in/yameen-alsaaidah/">LinkedIn</a> | 
        <a href="https://www.freecodecamp.org/YameenAlsaaid">FreeCodeCamp</a> | 
        <a href="https://www.codecademy.com/profiles/YameenAlsaaidah">Codecademy</a>
    </nav>
    <p>© 2025 Yameen | Page designed by <a href="yameenenterprises.com/">Yameen Enterprises</a>, 
        <em><a href="https://www.freecodecamp.org/certification/YameenAlsaaid/responsive-web-design" target="_blank">Certified in Responsive Web Design</a></em>
        <em><a href="https://www.freecodecamp.org/certification/YameenAlsaaid/javascript-algorithms-and-data-structures-v8" target="_blank">Certified in JavaScript Algorithms and Data Structures</a></em>
    </p>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>
</footer>