<header>
    <h1>Yameen - ITIS 3135</h1>
    <p>Welcome to my personal homepage for school, projects, and professional networking.</p>
    <nav>
        <a href="introduction.html">Introduction</a> || 
        <a href="contract.html">Contract</a> ||
        <a href="../itis3135/hobby/index.html">Hobbies</a> ||
        <a href="website_evaluations.html">Website Evaluations</a> ||
        <a href="tables.html">HTML Tables</a> ||
        <a href="byo_intro.html">BYO Intro</a>
        <a href="project_overview.html">Project Overview</a>
        <a href="forms.html">Forms</a>
        <a href="client_project/index.html">Client Project</a>
        <a href="slideshow.html">Slideshow</a>
        <a href="review1.html">Peer Review 1</a>
        <a href="review2.html">Peer Review 2</a>
    
    </nav>
</header>